.phonebook tr .edit {
    display: none;
}

.phonebook tr .destroy {
    display: none;
}

.phonebook .save-button {
    display: none;
}

.phonebook .editing .save-button {
    display: block;
}

.phonebook .editing .edit-button {
    display: none;
}

.phonebook tr.editing .edit {
    display: block;
    width: 100px;
    margin: 0 auto;
    text-align:center;
}

.phonebook tr.editing .destroy {
    display: block;
}

.phonebook tr.editing .record-item-simple label{
    display: none;
}

.phonebook-table {
    width:1200px;
}

.phonebook td.record-item-simple {
    width: 160px;
}

.phonebook td {
    text-align:center;
    vertical-align:middle;
}