<script type="text/template" id="record-template">
    <td class="record-item-simple">
        <label><%=name %></label>
        <input name="name" id= "name" class="edit" value="<%=name %>">
    </td>
    <td class="record-item-simple">
        <label><%=surname %></label>
        <input name="surname" id= "surname" class="edit" value="<%=surname %>">
    </td>
    <td class="record-item-simple">
        <label><%=patronymic %></label>
        <input name="patronymic" id= "patronymic" class="edit" value="<%=patronymic %>">
    </td>
    <td class="record-item-simple">
        <label><%
            var d = new Date(birth_timestamp*1000), // or d = new Date(date)
            fragments = [
                d.getDate(),
                d.getMonth() + 1,
                d.getFullYear()
            ];
            print(fragments.join('/'));
            %></label>
        <input name="birth_date_formated" id= "birth_date_formated" class="edit" value="<%
            var d = new Date(birth_timestamp*1000), // or d = new Date(date)
            fragments = [
                d.getDate(),
                d.getMonth() + 1,
                d.getFullYear()
            ];
            print(fragments.join('/'));
            %>">
    </td>
    <td class="record-item-simple">
        <label><%=phone_number %></label>
        <input name="phone_number" id= "phone_number" class="edit" value="<%=phone_number %>">
    </td>
    <td class="record-item-simple">
        <label><%
            if(street !== null) {
                print(street.title)
            }
            %></label>
        <select class="edit street" placeholder="Улица"></select>
    </td>
    <td class="record-item-simple">
        <label><%
            if(street !== null) {
                print(street.city.title)
            }
            %></label>
        <select class="edit city" id="city_id" name="city_id" placeholder="Город"></select>
    </td>
    <td>
        <a href="#" class="edit-button">E</a>
        <a href="#" class="save-button">S</a>
    </td>
    <td>
        <a href="#" class="destroy">X</a>
    </td>
</script>